html, body {
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  background-image: linear-gradient(rgba(82,194,206,.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(82,194,206,.3) 1px, transparent 1px);
  background-size: 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px;
}

textarea {
  outline:0px none transparent;
}

dl {
  margin: 0;
}

dd {
  font-size: .6em;
}

button:focus, textarea:focus, input:focus {
  outline: 0;
}

.storyboard {
  width: 100%;

  .player {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 160px;
    height: 400px;
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;

    > div {
      overflow-y: scroll;

      .message {
        padding: 4px;
        margin: 6px;
        background-color: #bada55;

        &.him {
          background-color: #d9f67d;
        }

        &.me {
          text-align: right;
        }
      }
    }
  }

  .editor {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > button {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    line, path {
      stroke: black;
      fill: none;
    }

    line.border, path.border {
      stroke: white;
      fill: none;
      stroke-width: 5;
    }

    .nodes {
      position: relative;
    }

    .node {
      position: absolute;
      margin-top: -2px;
      margin-left: -2px;
      width: 93px;
      height: 53px;
      padding: 4px;
      background-color: rgba(113, 212, 222, 0.8);
      border: 1px solid #52c2ce;
      cursor: pointer;

      &.us {
        border: 1px solid #71dde8;
        background-color: rgba(156, 237, 245, 0.67);
      }

      textarea {
        width: 100%;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      button {
        position: absolute;
        cursor: pointer;
        bottom: -11px;
        left: 50%;
        margin-left: -11px;
        background: white;
        border: 2px solid #478a90;
        border-radius: 50%;
        width: 22px;
        height: 22px;
      }
    }

  }

}
